<section class="container">
	<section class="box column">
		<div class="column-info text">
			<h1>Послуги компанії <span>SilverVirgi</span></h1>
			<p>Ми є одними з провідних фахівців із встановлення натяжних стель в
				місті Кам’янці-Подільському та Кам’янець-Подільському районі. Наша команда професійно виконує свою роботу, використовуючи новітні технології та матеріали від провідних виробників.
			</p>
			<p>
				Ми детально підходимо до визначення реальної ринкової вартості встановлення натяжної стелі, тому нашими послугами можуть скористатись замовники з різним рівнем статку, ціни доступні та лояльні.
			</p>
			<p>
				Наша команда фахівців спеціалізується на виконанні повного циклу роботи будь-якого ступеня складності: від проектування і підготовки до закінчення монтажу натяжної стелі. Ми цінуємо вашу довіру, тому консультуємо клієнтів з початку переговорів і до завершального етапу нашої співпраці!
			</p>
			<p>Надаємо гарантію на матеріали та роботу — 10 років!</p>
			<div class="column-btn d-flex">
				<a class="btn primary" href="tel:+380988002060">Замовити розрахунок</a>
			</div>
		</div>
	</section>
</section>

<section class="container progress">
	<section class="box progress">
		<h1>Переваги замовлення натяжних стель<br> в компанії <span>SilverVirgi</span></h1>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-1" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 10l2 -2v8" />
				</svg>
			</span>
			<div class="features-text">
				<p>Багатий асортимент матеріалів, комплектуючих, освітлювальних приладів, аксесуарів і декоративних елементів.</p>
			</div>
		</div>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-2" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3" />
				</svg>
			</span>
			<div class="features-text">
				<p>Зручний сервіс - професійна консультація, виїзд фахівців і доставка комплектуючих на об’єкт.</p>
			</div>
		</div>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-3" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 9a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1" />
				</svg>
			</span>
			<div class="features-text">
				<p>Надання клієнтові повної інформації про якість і кількість використовуваних матеріалів, а також ціноутворення.</p>
			</div>
		</div>
	</section>
</section>

<section class="container">
	{% for tag in servicesByTag %}
	<section class="box gallery">
		<div class="column-info">
			<h1>{{{tag.name}}}</h1>
			<p class="page-subtitle">{{{tag.description}}}</p>
			<div class="d-flex">
				<a class="btn primary" href="tel:+380988002060">Замовити розрахунок</a>
			</div>
		</div>

		<div class="types-row wrap">
			{% for service in tag.services %}
			<div class="img-container">
				<img src="{{{service.thumb}}}" alt="{{{service.name}}}">
				<div class="btn-overlay">
					<a class="btn btn-outline" href="/service/{{{service.id}}}">Детально</a>
				</div>
				<div class="types-text">
					<h3><pre>{{{service.name}}}</pre></h3>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	{% endfor %}
</section>

<section class="container">
	<section class="box">
		<div class="column-info">
			<h1>Часті запитання</h1>
			<p class="page-subtitle m-n">які задають клієнти по послугах компанії SilverVirgi</p>
		</div>
		<section class="accordion text">
			<div class="tab">
				  <input type="checkbox" name="accordion-1" id="cb1" checked>
				  <label for="cb1" class="tab__label">Скільки часу займає монтаж натяжної стелі?</label>
				  <div class="tab__content">
					<p>Одна з найбільших переваг натяжних стель це звісно час.
						Для монтажу стандартної прямокутної кімнати потрібно всього 2-3 год</p>
				  </div>
			</div>
			<div class="tab">
				  <input type="checkbox" name="accordion-1" id="cb2">
				  <label for="cb2" class="tab__label">Які ремонтні роботи потрібно закінчити, щоб почати монтувати стелі?</label>
				  <div class="tab__content">
					<p>Всі наші полотна – преміум-класу, вони не виділяють жодного неприємного запаху</p>
				  </div>
			</div>
			<div class="tab">
				<input type="checkbox" name="accordion-1" id="cb3">
				<label for="cb3" class="tab__label">Чи можна зробити натяжну стелю нестандартної форми?</label>
				<div class="tab__content">
				  <p>Ми використовуємо лише високоякісні матеріали, які абсолютно безпечні для здоров`я. А ще вони не горять, а згортаються під впливом високих температур</p>
				</div>
			  </div>
			  <div class="tab">
				<input type="checkbox" name="accordion-1" id="cb4">
				<label for="cb4" class="tab__label">Наскільки опуститься рівень стель після монтажу натяжної стелі?</label>
				<div class="tab__content">
				  <p>Натяжні стелі можуть витримувати до 100літрів води на 1м.кв. Після злиття води, стеля прогрівається і назад монтується</p>
				</div>
		  </div>
		</section>
	</section>
</section>


<!-- {% for service in services %}
<a href="/service/{{{service.id}}}">
	<img src="{{{service.thumb}}}" alt="{{{service.name}}}" />
	{{{service.name}}}
	<div>
		{{{service.short}}}
	</div>
</a>
{% endfor %} -->
