<section class="container">
	<section class="box column">
        <div class="column-img">
			<img src="{{{portfolio.thumb}}}" alt="{{{portfolio.name}}}">
		</div>
		<div class="column-info text">
			<h1>{{{portfolio.name}}}</h1>
			<pre>{{{portfolio.description|safe}}}</pre>
			<div class="column-btn d-flex">
				<a class="btn primary" href="tel:+380988002060">Замовити розрахунок</a>
			</div>
		</div>
	</section>
</section>

<section class="container">
	<section class="box gallery gallery-view">
		<div class="types-row wrap" id="images">
			{% for thumb in portfolio.thumbs %}
			<div class="img-container">
				<img src="{{{thumb}}}" alt="{{{portfolio.name}}}">
			</div>
			{% endfor %}
		</div>
    </section>
</section>

<script>
	$(document).ready(function(){
		var $image = $('#image');

		$image.viewer({
			inline: true,
			viewed: function() {
				$image.viewer('zoomTo', 1);
			}
		});
		var viewer = $image.data('viewer');
		$('#images').viewer();
	});
</script>


<!-- {% for portfolio in portfolios %}
<h1>{{{portfolio.name}}}</h1>
<img src="{{{portfolio.thumb}}}" alt="{{{portfolio.name}}}">
{% for thumb in portfolio.thumbs %}
<img src="{{{thumb}}}" alt="{{{portfolio.name}}}">
{% endfor %}
<pre>{{{portfolio.description}}}</pre>
{% endfor %} -->
