<section class="container">
	<section class="box column">
        <div class="column-img">
			<img src="/template/img/4-11-2023-2.jpg">
		</div>
		<div class="column-info text">
			<h2>Натяжні стелі для <br><span>Fiory di Vita</span></h2>
			<p>Ще один об'єкт було успішно завершено! Дякуємо Fiori di vita за довіру.</p>
			<p>Матові натяжні стелі та прожекторі світильники додають простору та функціональності. Від початку роботи до її завершення ми на зв'язку із клієнтом, щоб втілити в життя ваші побажання та підказати готові рішення.Не зволікайте і замовляйте свою омріяну стелю.</p>
			<div class="column-btn d-flex">
				<a class="btn primary">Замовити</a>
			</div>
		</div>	
	</section>
</section>

<section class="container">
	<section class="box decision">
		<h2>Фото з проекту</h2>
		<div class="types-row wrap">
			<div class="img-container">
				<img src="/template/img/hero_img.png">
			</div>
			<div class="img-container">
				<img src="/template/img/hero_img.png">
			</div>
			<div class="img-container">
				<img src="/template/img/hero_img.png">
			</div>
			<div class="img-container">
				<img src="/template/img/hero_img.png">
			</div>
            <div class="img-container">
				<img src="/template/img/hero_img.png">
			</div>
		</div>
    </section>
</section>



<!-- <img src="/template/img/logo.jpg">

{% for portfolio in portfolios %}
<h1>{{{portfolio.name}}}</h1>
<img src="{{{portfolio.thumb}}}" alt="{{{portfolio.name}}}">
{% for thumb in portfolio.thumbs %}
<img src="{{{thumb}}}" alt="{{{portfolio.name}}}">
{% endfor %}
<pre>{{{portfolio.description}}}</pre>
{% endfor %} -->
