<section class="container">
	<section class="box column">
        <div class="column-img">
			<img src="{{{service.thumb}}}" alt="{{{service.name}}}">
		</div>
		<div class="column-info text">
			<h1>{{{service.name}}}</h1>
			<div class="main-text-wrapper">
			<pre>{{{service.short}}}</pre>
			</div>
			<div class="column-btn d-flex">
				<a class="btn primary" href="tel:+380988002060">Замовити розрахунок</a>
			</div>
		</div>
	</section>
</section>

<section class="container progress">
	<section class="box progress">
		<h2>Переваги натяжних стель</h2>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-1" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 10l2 -2v8" />
				</svg>
			</span>
			<div class="features-text">
				<p>Можливість втілення найкреативніших проектів.</p>
			</div>
		</div>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-2" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3" />
				</svg>
			</span>
			<div class="features-text">
				<p>Швидкий та акуратний монтаж.</p>
			</div>
		</div>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-3" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 9a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1" />
				</svg>
			</span>
			<div class="features-text">
				<p>Зручність та простота експлуатації.</p>
			</div>
		</div>
	</section>
</section>

<section class="container gallery-row" id="slide-container">
	<section class="box gallery gallery-view" id="slide-item">
		<div class="owl-carousel img-carousel owl-theme types-row wrap" id="images">
			{% for thumb in service.thumbs %}
			<div class="img-container">
				<img src="{{{thumb}}}" alt="{{{service.name}}}">
			</div>
			{% endfor %}
		</div>
    </section>
</section>

<section class="container">
	<section class="box detail">
		<div class="column-info text">
			<pre>{{{service.description|safe}}}</pre>
		</div>
		<!-- <div class="column-info text">
			<pre>{{{service.description2|safe}}}</pre>
		</div> -->
		<div class="column-info text">
			<h2>Ціни на послуги компанії <span>SilverVirgi</span></h2>
			<p>Ціна – один з ключових критеріїв, на підставі якого клієнт робить свій вибір на користь тієї або іншої компанії-установника натяжних стель в Кам'янці-Подільському. Остаточна сума, необхідна для монтажу натяжних стель саме у вашому приміщенні, залежить від багатьох чинників і розраховується безпосередньо виконавцем після обговорення всіх деталей.</p>
		</div>
	</section>
</section>

<script>
	$(document).ready(function(){
		var $image = $('#image');

		$image.viewer({
			inline: true,
			viewed: function() {
				$image.viewer('zoomTo', 1);
			}
		});
		var viewer = $image.data('viewer');
		$('#images').viewer();
	});
</script>

<script>
	$(document).ready(function(){
		function owlInitialize() {
		if ($(window).width() < 1200) {
			$('.img-carousel').addClass("owl-carousel");
			$('.img-carousel').owlCarousel({
				loop:true,
				nav: true,
				dots: false,
				responsive:{
					0:{
						items:1
					},
					577:{
						items:2
					},
					1201:{
						items:3
					}
				}
			});
		}else{
		$('#slide-item .owl-carousel').owlCarousel('destroy');
		$('#slide-item .img-carousel').removeClass("owl-carousel");
	}
}
	$(document).ready(function(e) {
	owlInitialize();
	});
	$(window).resize(function() {
	owlInitialize();
	});
	});
</script>



<!-- <img src="/irynaprysyazhna/img/logo.jpg">

{% for portfolio in portfolios %}
<h1>{{{portfolio.name}}}</h1>
<img src="{{{portfolio.thumb}}}" alt="{{{portfolio.name}}}">
{% for thumb in portfolio.thumbs %}
<img src="{{{thumb}}}" alt="{{{portfolio.name}}}">
{% endfor %}
<pre>{{{portfolio.description}}}</pre>
{% endfor %} -->



<!-- <h1>{{{service.name}}}</h1>
<img src="{{{service.thumb}}}" alt="{{{service.name}}}">
{% for thumb in service.thumbs %}
<div><img src="{{{thumb}}}" alt="{{{service.name}}}"></div>
{% endfor %}
<pre>
	{{{service.description|safe}}}
</pre> -->
