$title-font: 90px;
$medium: 500;
$semi-bold: 600;
$regular: 400;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

main {
    width: 100%;
}

svg {
    max-width: 24px;
    max-height: 24px;
}

a {
    cursor: pointer;
}

h1 {
    letter-spacing: 3px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    font-weight: $semi-bold;
    text-transform: uppercase;
    margin: 0 0 14px;
}

h3 {
    font-size: 16px;
    font-weight: $semi-bold;
    line-height: 24px;
    margin: 0 0 14px;
}

p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 0 14px;
}

.btn {
    padding: 10px 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $medium;
    background-color: transparent;
    margin-top: 30px;
    
}

.btn.primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white;
}

.btn-outline {
    border: 1px solid $white;
    color: $white;
}

.btn-outline.primary {
    font-weight: 600;
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: transparent;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

img {
    object-fit: cover;
}

.no-pd {
    padding: 0 !important;
}

.c-white {
    color: $white;
}

.no-mw {
    max-width: initial !important;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 16px 120px;
    img {
        width: auto;
        height: 66px;
    }
    a {
        color: $dark;
        &:hover {
            color: $primary-color;
        }
    }
    .menu-item {
        padding: 10px 16px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: $medium;
        color: $grey;
        &.active,
        &:hover {
            color: $primary-color;
            // font-weight: $semi-bold;
        }
    }
    .top-icons-group {
        display: flex;
        column-gap: 20px;
        a:hover path {
            fill: $primary-color;
        }
    }
}

.footer {
    width: 100%;
    
    padding: 50px 120px;
    background-color: #313866;
    color: $white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    img {
        width: auto;
        height: 66px;
    }
    h2 {
        font-weight: 500;
    }
    ul {
        list-style: none;
        padding-inline-start: 0;
    }
    li {
        margin-bottom: 10px;
        a {
            color: $white;
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.hero-section {
    width: 100%;
    height: calc(100vh - 98px);
    background-image: url('/template/img/hero_img.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 190px;
}

.section-text, .section-img {
    position: relative;
    color: $white;
    text-align: center;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.section-text {
    .section-title {
        font-size: 90px;
        font-weight: $regular;
        text-transform: uppercase;
        
    }
    h3 {
        font-size: 20px;
        font-weight: $regular;
    }
}

.img-section-wrapper {
    display: flex;
    column-gap: 32px;
    padding: 32px;
    img, .text-section {
        width: 50%;
        h1 {
            font-size: $title-font;
            font-weight: 600;
        }
    }
}

.img-section-wrapper:nth-child(odd) {
    flex-direction: row-reverse;
}



//Features

.container {
    padding: 0 44px;
    position: relative; 
    .box {
        max-width: 1200px;
        margin: auto; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 64px;
        padding: 0 0 100px;
        h2 {
            width: 100%;
            text-align: center;
        }
        .features-row {
            display: flex;
            column-gap: 34px;
            width: calc(50% - 32px);
            .icon svg {
                max-width: 46px;
                max-height: 46px;
            }
        }
        &.decision {
            max-width: 1350px;
            padding: 0 0 100px;
            .types-row {
                &:nth-child(2) {
                    margin-bottom: 56px;
                }
                .img-container {
                    img {
                        height: 400px;
                        width: 316px;
                        margin-bottom: 44px;
                    }
                    .btn {
                        margin-top: 4px;
                    }
                }
            }  
        }
        &.project {
            max-width: 1350px;
            padding: 0 0 100px;
            .types-row {
                .img-container {
                    width: 50%;
                    height: 50vh;
                    img {
                        width: 100%;
                        height: 100%; 
                    }
                }
            }  
        }
        &.progress {
            justify-content: space-between;
            .features-row {
                width: 285px;
                flex-direction: column;
                row-gap: 34px;
                text-align: center;
            }
        }
        &.blog {
            justify-content: start;
            .types-row {
                column-gap: 34px;
                .img-container {
                    display: flex;
                    flex: 1;
                    column-gap: 34px;
                    height: initial;
                    img {
                        width: 310px;
                        height: 200px;
                    }
                }
            }  
        }
    }
    .box.features {
        background-color: $white;
        padding: 100px 64px;
    }
    .box.info {
        padding: 100px 64px;
    }
    .box.column {
        flex-wrap: nowrap;
        padding: 100px 0;
        .column-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            h2 {
                text-align: left;
            }
        }
        .column-right {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }
        img {
            width: 540px;
            height: 540px;
        }
    }
    .box.types {
        padding: 100px 0 60px;
        h2 {
            color: $white;
        }
        .img-container {
            width: 370px;
            height: 530px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
    } 
}

.text p {
    font-size: 16px;
    line-height: 24px;
}

.container.features {
    margin-top: -190px;
    background-image: url('/template/img/background-blue.png');
    background-position: 0 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container.types {
    background-image: url('/template/img/background-blue.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 630px;
}

.types-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    video {
        width: 100%;
        height: calc(100vh - 200px);
        object-fit: cover;
    }
}

.img-container {
    position: relative;
    .btn-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
    }
    &:hover .btn-overlay {
        display: flex;
    }
}

.types-text {
    max-width: 1020px;
}

.container.types .box.info {
    padding: 0 64px 100px;
}


// Accordion

/* Core styles/functionality */
.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
    max-height: 10rem;
}
  
/* Visual styles */
.accordion {
    overflow: hidden;
}
.tab__label {
    color: $primary-color;
    display: flex;
    cursor: pointer;
}
.tab__label {
    justify-content: space-between;
    padding: 16px 0;
    font-size: 20px;
    font-weight: $semi-bold;
    line-height: 24px;
}
.tab input:checked+.tab__label {
    padding: 16px 3px 0 0;
}
.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}
.tab__content p {
    margin: 0;
    padding: 16px 0;
}
.tab__content ul {
    padding-inline-start: 20px;
    line-height: 24px;
}
.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}
.accordion--radio {
    --theme: var(--secondary);
}
  
.owl-item .item {
    margin: 0 60px;
    p {
        font-style: italic;
    }
}

.container .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
}

