$title-font: 90px;
$medium: 500;
$semi-bold: 600;
$regular: 400;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

main {
    width: 100%;
}

svg {
    max-width: 24px;
    max-height: 24px;
}

a {
    cursor: pointer;
}

h2 {
    font-size: 24px;
    font-weight: $semi-bold;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: $semi-bold;
    margin: 0;
}

p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 16px 120px;
    img {
        width: auto;
        height: 66px;
    }
    a {
        color: $dark;
        &:hover {
            color: $primary-color;
        }
    }
    .menu-item {
        padding: 10px 16px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: $medium;
        color: $grey;
        &.active,
        &:hover {
            color: $primary-color;
            // font-weight: $semi-bold;
        }
    }
    .top-icons-group {
        display: flex;
        column-gap: 20px;
        a:hover path {
            fill: $primary-color;
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #313866;
    color: $white;
    img {
        width: 200px;
    }
}

.hero-section {
    width: 100%;
    height: calc(100vh - 98px);
    background-image: url('/template/img/hero_img.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 190px;
}

.section-text, .section-img {
    position: relative;
    color: $white;
    text-align: center;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-outline {
    padding: 10px 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $medium;
    border: 1px solid $white;
    color: $white;
}

.btn-outline.primary {
    font-weight: 600;
    border: 1px solid #313866;
    color: #313866;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.section-text {
    .section-title {
        font-size: 90px;
        font-weight: $regular;
        text-transform: uppercase;
        
    }
    h3 {
        font-size: 20px;
        font-weight: $regular;
    }
}

.img-section-wrapper {
    display: flex;
    column-gap: 32px;
    padding: 32px;
    img, .text-section {
        width: 50%;
        h1 {
            font-size: $title-font;
            font-weight: 600;
        }
    }
}

.img-section-wrapper:nth-child(odd) {
    flex-direction: row-reverse;
}

.social-bottom {
    width: 100%;
    padding: 16px 32px;
    background-color: #313866;
    color: #fff;
    text-align: right;
}


//Features

.container {
    padding: 0 44px;
    position: relative; 
    .box {
        max-width: 1200px;
        margin: auto; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 64px;
        h2 {
            width: 100%;
            text-align: center;
        }
        .features-row {
            display: flex;
            column-gap: 34px;
            width: calc(50% - 32px);
            .icon svg {
                max-width: 46px;
                max-height: 46px;
            }
        }
        &.decision {
            max-width: 1350px;
            padding: 0 0 100px;
            .types-row {
                column-gap: 34px;
                .img-container {
                    width: calc(25% - 34px);
                    height: initial;
                    img {
                        height: 200px;
                        margin-bottom: 44px;
                    }
                }
            }  
        }
        &.project {
            max-width: 1350px;
            padding: 0 0 100px;
            .types-row {
                // width: 50%;
                .img-container {
                    width: 50%;
                    height: 389px;
                }
            }  
        }
        &.blog {
            .types-row {
                // width: 50%;
                .img-container {
                    width: 50%;
                    height: initial;
                    img {
                        width: 310px;
                        height: 200px;
                    }
                }
            }  
        }
    }
    .box.features {
        background-color: $white;
        padding: 100px 64px;
        h2 {
            margin-bottom: 24px;
        }
    }
    .box.types {
        padding: 100px 0;
        h2 {
            color: $white;
        }
    } 
}

.container.features {
    margin-top: -190px;
    background-image: url('/template/img/background-blue.png');
    background-position: 0 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container.types {
    background-image: url('/template/img/background-blue.png');
    background-position: 0 -50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.types-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .img-container {
        width: 370px;
        height: 530px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .btn-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: center;
        }
        &:hover .btn-overlay {
            display: flex;
        }
    }
}

.types-text {
    max-width: 1020px;
}