<section class="container">
	<section class="box article">
		<div class="column-info types-text text">
            <div class="date">13.11.2023</div>
			<h1>{{{article.name}}}</h1>
			<img src="{{{article.thumb}}}" alt="{{{article.name}}}">
			<pre>{{{article.description|safe}}}</pre>            
        </div>
	</section>
</section>

{% if article.reference %}
<a href="{{{article.reference}}}">{{{article.reference}}}</a>
{% endif %}

<section class="container gallery-row" id="slide-container">
	<section class="box gallery articles" id="slide-item">
		<div class="column-info text">
			<h2>Вас також можуть зацікавити</h2>
		</div>
		<div class="owl-carousel img-carousel owl-theme types-row wrap">

			{% for article in articles %}
			<a class="img-container" href="{{{article.url || '/article/' + article._id}}}">
				<img src="{{{article.thumb}}}" alt="{{{article.name}}}">
				<div class="types-text">
                    <div class="text-sm date">13.11.2023</div>
					<h3>{{{article.name}}}</h3>
				</div>
			</a>
			{% endfor %}
		</div>
	</section>
</section>

<script>
	$(document).ready(function(){
		function owlInitialize() {
		if ($(window).width() < 1200) {
			$('.img-carousel').addClass("owl-carousel");
			$('.img-carousel').owlCarousel({
				loop:true,
				nav: true,
				dots: false,
				responsive:{
					0:{
						items:1
					},
					577:{
						items:2
					},
					1201:{
						items:3
					}
				}
			});
		}else{
		$('#slide-item .owl-carousel').owlCarousel('destroy');
		$('#slide-item .img-carousel').removeClass("owl-carousel");
	}
}
	$(document).ready(function(e) {
	owlInitialize();
	});
	$(window).resize(function() {
	owlInitialize();
	});
	});
</script>
