<section class="container">
	<section class="box gallery">
		<div class="column-info">
			<h1>Наші роботи</h1>
			<p class="page-subtitle">Ми завжди готові допомогти вам реалізувати навіть найскладніший і оригінальний проект!</p>
		</div>
		<div class="types-row wrap">
			{% for portfolio in portfolios %}
			<div class="img-container">
				<img src="{{{portfolio.thumb}}}" alt="{{{portfolio.name}}}">
				<div class="btn-overlay">
					<a class="btn btn-outline" href="{{{portfolio.url || '/portfolio/' + portfolio._id}}}">Дивитися всі</a>
				</div>
				<div class="types-text">
					<h3><pre>{{{portfolio.name}}}</pre></h3>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
</section>

<section class="container progress">
	<section class="box progress">
		<h1>Переваги замовлення натяжних стель<br> в компанії <span>SilverVirgi</span></h1>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-1" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 10l2 -2v8" />
				</svg>
			</span>
			<div class="features-text">
				<p>Багатий асортимент матеріалів, комплектуючих, освітлювальних приладів, аксесуарів і декоративних елементів.</p>
			</div>
		</div>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-2" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3" />
				</svg>
			</span>
			<div class="features-text">
				<p>Зручний сервіс - професійна консультація, виїзд фахівців і доставка комплектуючих на об’єкт.</p>
			</div>
		</div>
		<div class="features-row">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-number-3" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#636797" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
					<path d="M10 9a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1" />
				</svg>
			</span>
			<div class="features-text">
				<p>Надання клієнтові повної інформації про якість і кількість використовуваних матеріалів, а також ціноутворення.</p>
			</div>
		</div>
	</section>
</section>

<!-- {% for portfolio in portfolios %}
<a href="/portfolio/{{{portfolio.id}}}">
	<h1>{{{portfolio.name}}}</h1>
	<img src="{{{portfolio.thumb}}}" alt="{{{portfolio.name}}}">
	<div>
		{{{portfolio.short}}}
	</div>
</a>
{% endfor %} -->
